name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    strategy:
      matrix:
        go-version: [1.22.x, 1.23.x, 1.24.x, 1.25.x]
        platform: [ubuntu-latest, macos-latest, windows-latest, macos-14]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6.0.0
    - name: Install Go
      uses: actions/setup-go@v6.1.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Test
      run: |
        go version
        go test -race -v ./...
